.p-privacy-policy.Privacy_Policy {
display: flex;
flex-direction: column;
}
.p-privacy-policy.Flex364 {
display: flex;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
align-items: center;
flex-wrap: nowrap;
align-content: stretch;
justify-content: space-between;
}
.p-privacy-policy.Div227 {
background-color: ;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}
.p-privacy-policy.Flex370 {
display: flex;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
align-items: stretch;
justify-content: center;
flex-wrap: nowrap;
align-content: stretch;
row-gap: 10px;
column-gap: 30px;
}
.p-privacy-policy.Flex367 {
display: flex;
flex-direction: column;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
align-items: stretch;
justify-content: flex-start;
align-content: stretch;
row-gap: ;
}
.p-privacy-policy.Flex368 {
display: flex;
flex-direction: column;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}
.p-privacy-policy.Flex369 {
display: flex;
row-gap: 30px;
flex-direction: column;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
justify-content: flex-start;
align-items: stretch;
align-content: stretch;
flex-wrap: nowrap;
}
.p-privacy-policy.Flex365 {
display: flex;
justify-content: center;
}
.p-privacy-policy.Flex366 {
display: flex;
align-items: stretch;
justify-content: flex-start;
flex-wrap: nowrap;
align-content: stretch;
column-gap: 30px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
.p-privacy-policy.Button37 {
color: #fff;
background-color: #0f1010;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-privacy-policy.TextBox657 {
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.TextBox658 {
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.TextBox659 {
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.TextBox660 {
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.Image262 {
width: 150px;
min-width: 100px;
max-width: 200px;
height: 50px;
min-height: 50px;
max-height: 50px;
}
.p-privacy-policy.TextBox661 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
}
.p-privacy-policy.TextBox662 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.TextBox663 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
font-weight: 700;
font-size: 16px;
}
.p-privacy-policy.TextBox664 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
}
.p-privacy-policy.TextBox665 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
}
.p-privacy-policy.TextBox666 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
font-weight: 700;
font-size: 16px;
}
.p-privacy-policy.TextBox667 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.TextBox668 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
}
.p-privacy-policy.TextBox669 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
}
.p-privacy-policy.TextBox670 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
font-weight: 700;
font-size: 20px;
}
.p-privacy-policy.TextBox671 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
}
.p-privacy-policy.TextBox672 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
font-weight: 700;
font-size: 32px;
}
.p-privacy-policy.Image267 {
width: 250px;
min-width: 250px;
max-width: 250px;
height: 300px;
min-height: 300px;
max-height: 300px;
}
.p-privacy-policy.TextBox673 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.TextBox674 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.TextBox675 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.TextBox676 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.TextBox677 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.TextBox678 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.TextBox679 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.TextBox680 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-privacy-policy.Image263 {
width: 100px;
min-width: 100px;
max-width: 100px;
height: 25px;
min-height: 25px;
max-height: 25px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}
.p-privacy-policy.Image264 {
width: 50px;
min-width: 50px;
max-width: 50px;
height: 50px;
min-height: 50px;
max-height: 50px;
}
.p-privacy-policy.Image265 {
width: 50px;
min-width: 50px;
max-width: 50px;
height: 50px;
min-height: 50px;
max-height: 50px;
}
.p-privacy-policy.Image266 {
width: 50px;
min-width: 50px;
max-width: 50px;
height: 50px;
min-height: 50px;
max-height: 50px;
}
@media screen and (max-width: 478px) {	.p-privacy-policy.Flex364 {justify-content: center;
flex-direction: column;
align-items: center;
}
}