.p-shop.Shop {
display: flex;
flex-direction: column;
background-color: ;
}
.p-shop.Flex317 {
display: flex;
background-color: #e4e4e4;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}
.p-shop.Flex315 {
display: flex;
flex-direction: column;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}
.p-shop.Flex314 {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-wrap: wrap;
align-self: auto;
align-content: space-between;
column-gap: 30px;
overflow: visible;
flex-direction: row;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
row-gap: 30px;
}
.p-shop.Div211 {
width: 200px;
min-width: 200px;
max-width: 200px;
height: 250px;
min-height: 250px;
max-height: 250px;
position: relative;
margin-bottom: ;
margin-right: ;
}
.p-shop.Div212 {
width: 200px;
min-width: 200px;
max-width: 200px;
height: 250px;
min-height: 250px;
max-height: 250px;
margin-right: ;
position: relative;
margin-bottom: ;
}
.p-shop.Div213 {
width: 200px;
min-width: 200px;
max-width: 200px;
height: 250px;
min-height: 250px;
max-height: 250px;
margin-right: ;
position: relative;
margin-bottom: ;
}
.p-shop.Div214 {
width: 200px;
min-width: 200px;
max-width: 200px;
height: 250px;
min-height: 250px;
max-height: 250px;
margin-right: ;
position: relative;
margin-bottom: ;
}
.p-shop.Div215 {
width: 200px;
min-width: 200px;
max-width: 200px;
height: 250px;
min-height: 250px;
max-height: 250px;
margin-top: ;
margin-right: ;
margin-bottom: ;
margin-left: ;
position: relative;
}
.p-shop.Flex316 {
display: flex;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
flex-direction: column;
width: 25%;
min-width: 25%;
max-width: 25%;
align-items: center;
justify-content: center;
}
.p-shop.Flex429 {
display: flex;
flex-direction: column;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
row-gap: 30px;
}
.p-shop.Flex422 {
display: flex;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
align-items: center;
flex-wrap: nowrap;
align-content: stretch;
justify-content: space-between;
}
.p-shop.Flex428 {
display: flex;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
align-items: stretch;
justify-content: center;
flex-wrap: nowrap;
align-content: stretch;
row-gap: 10px;
column-gap: 30px;
}
.p-shop.Flex425 {
display: flex;
row-gap: 30px;
flex-direction: column;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
justify-content: flex-start;
align-items: stretch;
align-content: stretch;
flex-wrap: nowrap;
}
.p-shop.Flex423 {
display: flex;
align-items: stretch;
justify-content: flex-start;
flex-wrap: nowrap;
align-content: stretch;
column-gap: 30px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
.p-shop.Flex424 {
display: flex;
justify-content: center;
}
.p-shop.Flex426 {
display: flex;
flex-direction: column;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}
.p-shop.Flex427 {
display: flex;
flex-direction: column;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
align-items: stretch;
justify-content: flex-start;
align-content: stretch;
row-gap: ;
}
.p-shop.TextBox558 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
font-size: 26px;
background-color: ;
}
.p-shop.TextBox548 {
position: absolute;
top: 10px;
left: 10px;
font-family: Poppins;
color: #ffffff;
font-size: 12px;
background-color: #1b1b1b;
}
.p-shop.TextBox549 {
position: absolute;
bottom: 10px;
left: 10px;
color: #ffffff;
font-family: Poppins;
font-weight: 700;
}
.p-shop.Image213 {
width: 200px;
min-width: 200px;
max-width: 200px;
height: 250px;
min-height: 250px;
max-height: 250px;
}
.p-shop.TextBox550 {
position: absolute;
top: 10px;
left: 10px;
font-family: Poppins;
color: #ffffff;
font-size: 12px;
background-color: #1b1b1b;
}
.p-shop.TextBox551 {
position: absolute;
bottom: 10px;
left: 10px;
color: #ffffff;
font-family: Poppins;
font-weight: 700;
}
.p-shop.Image214 {
width: 200px;
min-width: 200px;
max-width: 200px;
height: 250px;
min-height: 250px;
max-height: 250px;
}
.p-shop.TextBox552 {
position: absolute;
top: 10px;
left: 10px;
font-family: Poppins;
color: #ffffff;
font-size: 12px;
background-color: #1b1b1b;
}
.p-shop.TextBox553 {
position: absolute;
bottom: 10px;
left: 10px;
color: #ffffff;
font-family: Poppins;
font-weight: 700;
}
.p-shop.Image215 {
width: 200px;
min-width: 200px;
max-width: 200px;
height: 250px;
min-height: 250px;
max-height: 250px;
margin-right: ;
margin-bottom: ;
}
.p-shop.TextBox554 {
position: absolute;
top: 10px;
left: 10px;
font-family: Poppins;
color: #ffffff;
font-size: 12px;
background-color: #1b1b1b;
}
.p-shop.TextBox555 {
position: absolute;
bottom: 10px;
left: 10px;
color: #ffffff;
font-family: Poppins;
font-weight: 700;
}
.p-shop.Image216 {
width: 200px;
min-width: 200px;
max-width: 200px;
height: 250px;
min-height: 250px;
max-height: 250px;
}
.p-shop.TextBox556 {
position: absolute;
top: 10px;
left: 10px;
font-family: Poppins;
color: #ffffff;
font-size: 12px;
background-color: #1b1b1b;
}
.p-shop.TextBox557 {
position: absolute;
bottom: 10px;
left: 10px;
color: #ffffff;
font-family: Poppins;
font-weight: 700;
}
.p-shop.Image217 {
width: 200px;
min-width: 200px;
max-width: 200px;
height: 250px;
min-height: 250px;
max-height: 250px;
}
.p-shop.TextBox562 {
margin-top: ;
margin-right: ;
margin-bottom: ;
margin-left: ;
font-family: Poppins;
font-weight: 700;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 30px;
padding-left: 10px;
}
.p-shop.TextBox752 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
font-weight: 700;
background-color: #ffffff;
}
.p-shop.TextBox754 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
font-weight: 700;
background-color: #ffffff;
}
.p-shop.TextBox755 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-family: Poppins;
font-weight: 700;
background-color: #ffffff;
}
.p-shop.Button41 {
color: #fff;
background-color: #0f1010;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-shop.TextBox739 {
font-family: Poppins;
font-weight: 700;
}
.p-shop.TextBox740 {
font-family: Poppins;
font-weight: 700;
}
.p-shop.TextBox741 {
font-family: Poppins;
font-weight: 700;
}
.p-shop.TextBox742 {
font-family: Poppins;
font-weight: 700;
}
.p-shop.Image297 {
width: 150px;
min-width: 100px;
max-width: 200px;
height: 50px;
min-height: 50px;
max-height: 50px;
}
.p-shop.Image302 {
width: 250px;
min-width: 250px;
max-width: 250px;
height: 300px;
min-height: 300px;
max-height: 300px;
}
.p-shop.Image298 {
width: 50px;
min-width: 50px;
max-width: 50px;
height: 50px;
min-height: 50px;
max-height: 50px;
}
.p-shop.Image299 {
width: 50px;
min-width: 50px;
max-width: 50px;
height: 50px;
min-height: 50px;
max-height: 50px;
}
.p-shop.Image300 {
width: 50px;
min-width: 50px;
max-width: 50px;
height: 50px;
min-height: 50px;
max-height: 50px;
}
.p-shop.Image301 {
width: 100px;
min-width: 100px;
max-width: 100px;
height: 25px;
min-height: 25px;
max-height: 25px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}
.p-shop.TextBox743 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-shop.TextBox744 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-shop.TextBox745 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-shop.TextBox746 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-shop.TextBox747 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-shop.TextBox748 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-shop.TextBox749 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
.p-shop.TextBox750 {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
font-family: Poppins;
font-weight: 700;
}
@media screen and (max-width: 478px) {	.p-shop.Flex422 {justify-content: center;
flex-direction: column;
align-items: center;
}
}